<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Client Panel</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" style="cursor: pointer">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]="55"
  >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/add-client">
        <mat-icon>add</mat-icon> Add Client
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/clients">
        <mat-icon>format_list_bulleted</mat-icon> View Clients
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
