<!-- City -->
<mat-form-field appearance="outline">
  <mat-label>City</mat-label>
  <mat-select [(ngModel)]="otherDetails.city">
    <mat-option value="bharuch">Bharuch</mat-option>
    <mat-option value="ahmedabad">Ahmedabad</mat-option>
    <mat-option value="gandhinagar">Gandhinagar</mat-option>
  </mat-select>
  <mat-error> City is required </mat-error>
</mat-form-field>

<!--Gender -->
<div class="misc-bottom-padding" style="margin-bottom: 30px">
  <mat-label>Gender</mat-label>
  <mat-radio-group
    aria-label="Select an option"
    [(ngModel)]="otherDetails.gender"
  >
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>
</div>

<!-- Hobbies -->
<mat-form-field class="multiple-items" appearance="outline">
  <mat-label>Hobbies</mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let hobby of hobbies"
      [removable]="removable"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(hobby)"
    >
      {{ hobby }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <input
    [(ngModel)]="otherDetails.hobbies!"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="addOnBlur"
    (matChipInputTokenEnd)="add($event)"
  />
  <i
    class="material-icons tooltip-info"
    matTooltip="Enter item name and press enter to add multiple items"
  >
    info
  </i>
</mat-form-field>
